# Variáveis de ambiente e segredos
.env

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc

# Ambientes virtuais
/venv/
/.venv/

# Arquivos de log
*.log

# Configurações do VSCode
.vscode/

# Arquivos temporários
*.tmp

# Arquivos de sistema
.DS_Store
Thumbs.db
